<% layout('layouts/boilerplatecode') %>

    <form method="post" action="/listings/<%= ListingDetails._id %>?_method=PUT" enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>New Listing</h1>
                <div class="mb-3">
                    <label for="title" class="form-lable">Title</label>
                    <input name="listings[title]" value="<%= ListingDetails.title %>" type="text" placeholder="Title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-lable">Description</label>
                    <textarea name="listings[description]" cols="40" rows="10" placeholder="Add description" class="form-control"><%= ListingDetails.description %></textarea>
                </div>
                <div class="mb-3">
                    <img src= "<%= ListingDetails.image.url %>">
                </div>
                <div class="mb-3 ">
                    <label for="imageUrl" class="form-lable">Upload Image </label>
                    <input name="listings[image][url]"  type="file"  class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4"><label for="price" class="form-lable">Price</label>
                        <input name="listings[price]" value="<%= ListingDetails.price %>" type="text" placeholder="price" class="form-control">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-lable">Country</label>
                        <input name="listings[country]" value="<%= ListingDetails.country %>" type="text" placeholder="Add  country" class="form-control">
                    </div>
                    
                </div>
                <div class="mb-3 ">
                    <label for="location" class="form-lable">Location</label>
                    <input name="listings[location]" value="<%= ListingDetails.location %>" type="text" placeholder="Add location" class="form-control">
                </div>
             
                 <button class="btn btn-outline-danger">Update</button>
                 <br><br>
            </div>
        </div>
    </form>
    

